<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
    <ol class="breadcrumb">
      <li><a href="#" [routerLink]="['/']">Главная</a></li>
      <li><a href="#" [routerLink]="['/' + region?.link]">{{region?.name}}</a></li>
      <li><a href="#" [routerLink]="['/' + region?.link + '/' + city?.link]">{{city?.name}}</a></li>
      <li class="active">{{place?.name}}</li>
    </ol>

    <h2>{{place?.name}}</h2>

    <h3>Размещение</h3>
    <div [innerHTML]="place?.accommodation"></div>

    <h3>Питание</h3>
    <div [innerHTML]="place?.food"></div>

    <h3>Цены</h3>
    <div [innerHTML]="place?.price"></div>

    <h3>Инфраструктура</h3>
    <div [innerHTML]="place?.infrastructure"></div>

    <h3>Пляж</h3>
    <div [innerHTML]="place?.beach"></div>

    <h3>Фото</h3>
    <div class="photo-container">
      <img *ngFor="let photoLink of place?.photoLinks" [src]="photoLink">
    </div>

    <h3>Дополнительная информация</h3>
    <div [innerHTML]="place?.addInfo"></div>

    <h3>Контакты</h3>
    <div [innerHTML]="place?.contacts"></div>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
    <app-ad160x600></app-ad160x600>
  </div>
</div>


