<ol class="breadcrumb">
  <li><a href="#" [routerLink]="['/']">Главная</a></li>
  <li><a href="#" [routerLink]="['/odesskaya/oblast']">Одесская область</a></li>
  <li><a href="#" [routerLink]="['/odesskaya/oblast/zatoka']">Затока</a></li>
  <li class="active">База отдыха "Лилия"</li>
</ol>

<div>
  <div class="row">
    <!--<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <ul class="list-group">
        <li class="list-group-item">Фильтр</li>
        <li class="list-group-item">???</li>
        <li class="list-group-item">:::</li>
        <li class="list-group-item">ТТТ</li>
        <li class="list-group-item">???</li>
      </ul>
    </div>-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">-->
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
      <h2>База отдыха "Лилия"</h2>
      <div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-between;">
        <img src="/assets/images/000001-001.jpg" width="180" height="120">
        <img src="/assets/images/000001-002.jpg" width="180" height="120">
        <img src="/assets/images/000001-003.jpg" width="180" height="120">
        <img src="/assets/images/000001-004.jpg" width="180" height="120">
        <img src="/assets/images/000001-005.jpg" width="180" height="120">
      </div>
      <h3>Размещение</h3>
      <p>Котедж семейного типа под названием «Лилия» расположен в стороне от шумной и многолюдной первой линии. И больше подходит для отдыха семейных пар, молодоженов и людей ведущих здоровый образ жизни, и не злоупотребляющими спиртными напитками. Желающие отдохнуть от повседневной суеты, работы и бизнеса.</p>
      <p>
        В 3-х этажном здании есть 2,3 и 4-х местные номера со всеми удобствами: в каждом номере есть кондиционер и санузел в котором душевая кабинка, умывальник, унитаз.
      </p>
      <p>
        В оплату включено: проживание, коммунальные расходы, уборка номера по требованию, спутниковое ТV, пользование столовой и кухней, Wi-Fi на территории, утюг, фен, чайник в номер, шампура, мангал.
      </p>

      <h3>Питание</h3>
      <ul>
        <li>самостоятельное приготовление;</li>
        <li>заказ в столовой в 100 метрах от котеджа.</li>
      </ul>

      <h3>Цены</h3>
      <p>
        Ориентировочная стоимость проживания грн/сутки за номер на 2016 год
      </p>
      <ul>
        <li>2-х местный — 600</li>
        <li>3-х местный — 700</li>
      </ul>

      <h3>Инфраструктура</h3>
      <p>
        Расстояния до кафе, магазинов, столовой и пляжа 180-200 метров. Котедж расположен на закрытой территории, оборудован детской площадкой, летней столовой, альтанкой, кухней, мангалом. Парковка для транспорта (20 грн/сутки).
      </p>

      <h3>Пляж</h3>
      <p>180м.</p>

      <h3>Фото</h3>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; align-content: space-between;">
        <img src="/assets/images/000001-001.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-002.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-003.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-004.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-005.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-006.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-007.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-008.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-009.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-010.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-011.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-012.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-013.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-014.jpg" width="180" height="120" style="margin: 10px;">
        <img src="/assets/images/000001-015.jpg" width="180" height="120" style="margin: 10px;">

      </div>

      <h3>Дополнительная информация</h3>
      <p>
        Мы принимаем на отдых детей с 2-х лет. Всем любителям и хозяевам домашних животных, хоть они и привиты и являются членом вашей семьи, запрещается отдыхать с животными. Все кто приезжает поездом или маршруткой с Одессы, заранее предупреждать о том что вас нужно встретить.
      </p>
      <p><strong>Бронирование</strong></p>
      <ul>
        <li>Предварительное по телефону.</li>
        <li>Гарантированное после полученной предоплаты на приват банковскую карточку в размере суточной стоимости проживания номера.</li>
      </ul>
      <p><strong>Обязательно</strong> — за 5 дней до заезда подтвердить даты звезда и выезда – количество взрослых и детей, их возраст.</p>
      <p>
        Аннулирование бронирования производится за 10 дней до заезда без штрафа, позже штраф с удержанием предоплаты за бронирование за 1 сутки.
      </p>
      <p><strong>Регистрация.</strong></p>
      <ul>
        <li>Предоставить паспорт.</li>
        <li>Время заезда не ограничено.</li>
        <li>Полный расчет при поселении.</li>
        <li>При досрочном отъезде — удерживается стоимость проживания за 1 сутки.</li>
      </ul>



      <h3>Контакты</h3>
      <p>Будакская коса №11. Дом моряка.</p>
      <strong>Телефоны:</strong> <br>
      +38(097)82-47-511 Лилия

    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
      <app-ad160x600></app-ad160x600>
    </div>
  </div>
</div>

