<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Отдых на море</a>-->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Отдых на море<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Черное море</li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/odesskaya-oblast']">Одесская область</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/nikolaevskaya-oblast']">Николаевская область</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/khersonskaya-oblast']">Херсонская область</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Азовское море</li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/zaporozhskaya-oblast']">Запорожская область</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['/donetskaya-oblast']">Донецкая область</a></li>
          </ul>
        </li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a href="#" [routerLink]="['/o-proecte']">О проекте</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>



