<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
    <ol class="breadcrumb">
      <li><a href="#" [routerLink]="['/']">Главная</a></li>
      <li class="active">Добавить место</li>
    </ol>

    <h2>Добавление нового места</h2>
    <!--Форма -->
    <form name="placeForm" novalidate #placeForm="ngForm" (submit)="onSubmit(placeForm)">
      <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" id="name" name="name"
        [(ngModel)]="place.name">
      </div>
      <div class="form-group">
        <label for="accommodationField">Размещение</label>
        <textarea id="accommodationField" name="accommodationField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="foodField">Питание</label>
        <textarea id="foodField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="priceField">Цены</label>
        <textarea id="priceField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="infrastructureField">Инфраструктура</label>
        <textarea id="infrastructureField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="beachField">Пляж</label>
        <textarea id="beachField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="addInfoField">Дополнительная информация</label>
        <textarea id="addInfoField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="contactsField">Контакты</label>
        <textarea id="contactsField" class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="contactPerson">Ваше ФИО</label>
        <input type="text" class="form-control" id="contactPerson" name="contactPerson"
        [(ngModel)]="place.contactPerson">
      </div>
      <div class="form-group">
        <label for="contactEmail">Ваш Email</label>
        <input type="email" class="form-control" id="contactEmail" name="contactEmail"
        [(ngModel)]="place.contactEmail">
      </div>
      <div class="form-group">
        <label for="contactPhone">Ваш телефон</label>
        <input type="text" class="form-control" id="contactPhone" name="contactPhone"
        [(ngModel)]="place.contactPhone">
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <button type="submit" class="btn btn-default">Отменить</button>
    </form>
    <!--Конец формы -->
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
    <app-ad160x600></app-ad160x600>
  </div>
</div>



