<div>
  <div class="row">
    <!--<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 bg-danger">
      <ul class="list-group">
        <li class="list-group-item">Одесская область</li>
        <li class="list-group-item">Николаевская область</li>
        <li class="list-group-item">Херсонская область</li>
        <li class="list-group-item">Запорожска область</li>
        <li class="list-group-item">Донецкая область</li>
      </ul>
    </div>-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 bg-info">-->
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 bg-info">
     Page not Found
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center bg-danger ">
      <app-ad160x600></app-ad160x600>
    </div>
  </div>
</div>
