<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
    <ol class="breadcrumb">
      <li><a href="#" [routerLink]="['/']">Главная</a></li>
      <li><a href="#" [routerLink]="['/' + region?.link]">{{region?.name}}</a></li>
      <li class="active">{{city?.name}}</li>
    </ol>

    <h2>{{city?.name}}</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6" *ngFor="let place of places">
        <app-place-short-card
          [region]="region"
          [city]="city"
          [place]="place"></app-place-short-card>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
    <app-ad160x600></app-ad160x600>
  </div>
</div>
