<div>
  <ol class="breadcrumb">
    <li><a href="#" [routerLink]="['/']">Главная</a></li>
    <li><a href="#" [routerLink]="['/odessa-region']">Одесская область</a></li>
    <li class="active">Затока</li>
  </ol>

  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
        <h2>Затока</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <app-place-short-card></app-place-short-card>
          </div>

          <div class="col-xs-12 col-sm-6">
            <app-place-short-card></app-place-short-card>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
        <app-ad160x600></app-ad160x600>
      </div>
    </div>
  </div>
</div>
